### 태양광 발전량

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import folium

In [3]:
# 폰트 깨짐 방지
plt.rcParams['font.family'] = 'Malgun Gothic'  # '맑은 고딕'이 설치되어 있을 경우
plt.rcParams['axes.unicode_minus'] = False     # 마이너스(-) 부호 깨짐 방지

In [4]:
df = pd.read_csv('dataset_minjeong/sun_2025_08_14.csv')
df

,신재생에너지현황별(1),2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2023.8,2023.9,2023.10,2023.11,2023.12,2023.13,2023.14,2023.15,2023.16,2023.17
0,신재생에너지현황별(1),전국,서울,부산,대구,인천,광주,대전,울산,세종,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
1,에너지생산량 (toe),2787935,34320,34238,26509,29368,48389,13876,16048,13585,...,27035,510384,497531,406482,856387,1233799,1516181,940721,528771,164096
2,발전량 (MWh),12996018,152607,157675,121503,133964,224970,62825,73414,62394,...,123817,2346126,2315785,1882953,3991277,5764753,7086350,4385932,2446555,762818
3,누적 보급용량 (kW),11767747,124604,131131,103440,117639,197291,56188,65577,55261,...,107164,2130246,1979034,1636334,3498732,4607206,5903208,3561773,2056529,654314
4,신규 보급용량 (kW),3789044,14333,20058,23453,23612,50491,11775,16032,11933,...,12201,305093,187346,210103,646136,371977,918908,501460,256646,28475

In [ ]:
# 발전량(MWh) 행만 선택
sun = df.loc[df["신재생에너지현황별(1)"] == "발전량 (MWh)"].copy()

In [ ]:
# 지표명 열 제거하고 숫자로 변환
sun = sun.drop(columns=["신재생에너지현황별(1)"])

In [ ]:
# 
sun = sun.T
sun.columns = ["발전량(MWh)"]

In [8]:
# 2019, 2020, 2021, 2022, 2023으로 나누고 싶음
sun_2019 = df.iloc[:,:19]
sun_2020 = df.iloc[:,19:37]
sun_2021 = df.iloc[:,37:55]
sun_2022 = df.iloc[:,55:73]
sun_2023 = df.iloc[:,73:91]